<h1>Leaderboard</h1>

<%= link_to "Capture Match", new_match_path %>

<table>
  <thead>
    <tr>
      <th>Rank</th>
      <th>Name</th>
      <th>Games Played</th>
    </tr>
  </thead>
<tbody>
  <% @members.each do |member| %>
    <tr>
      <td><%= member.rank %></td>
      <td><%= member.name %></td>
      <td><%= member.games_played %></td>
    </tr>
  <% end %>
</tbody>

</table>
