<h1>Leaderboard</h1>
<div class="actions">
  <%= link_to "Capture Match", new_match_path, class: "button"  %>
</div>
<table>
  <thead>
    <tr>
      <th>Rank</th>
      <th>Name</th>
      <th>Games Played</th>
    </tr>
  </thead>
<tbody>
  <% @members.each do |member| %>
    <tr>
      <td><%= member.rank %></td>
      <td><%= member.name %></td>
      <td><%= member.games_played %></td>
    </tr>
  <% end %>
</tbody>
</table>
