<h1>Members</h1>
  
<%= link_to "Add Member", "#", class: "button" %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Birthday</th>
      <th>Games Played</th>
      <th>Rank</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>John Doe</td>
      <td>john@example.com</td>
      <td>1990-01-01</td>
      <td>10</td>
      <td>3</td>
      <td class="actions">
        <%= link_to "View", "#" %>
        <%= link_to "Edit", "#" %>
        <%= link_to "Delete", "#" %>
      </td>
    </tr>
  </tbody>
</table>
